body {
    margin: auto;
    overflow-x: hidden;
    box-sizing: border-box;
}

header {
    background-image: url("https://html.waituk.com/roxine/img/big-14.jpg");
    width: 102%;
    background-size: cover;
    background-color: rgba(15, 15, 15, 0.664);
    /* make picture darker */
    background-blend-mode: darken;
    background-repeat: no-repeat;
    padding: 3rem 0;
    /* user can't select text or copy it */
    user-select: none;
    padding-bottom: 8rem;
    /* margin: 0 8rem; */
}

.container {
    width: 90%;
    margin: auto;
    height: 100%;
    padding: 2rem 0;
}

nav.sticky {
    position: sticky;
    top: 0;
    left: 0px;
    animation: fadeIn .5s linear;
    background-color: #656565;
    z-index: 1000;
    position: fixed;
    /* margin: 0px; */
    margin-top: 0;
    transition: all 1s linear;
    width: 100%;
}

nav.desktop-nav .menubar-icon {
    display: none;
}

/* .hide{
    display: none;
} */

nav {
    width: 99%;
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.logo a {
    color: white;
    text-decoration: none;
    font-size: xx-large;
    font-family: sans-serif;
}

nav .links {
    display: flex;
    gap: 34px;
}

nav .links li {
    display: inline-block;
    transition: all linear .2s;
}

nav .links li:hover {
    background: #5555551d;
}

nav .links li:hover .contain,
nav .links li:hover .contain_feature,
nav .links li:hover .contain_portfolio,
nav .links li:hover .contain_blog {
    display: block;
}

nav .links li a {
    text-decoration: none;
    color: white;
    font-family: 'Font Awesome 5 Brands';
    font-size: x-small;
    letter-spacing: 2.5px;
}

nav .links li a:hover {
    color: #d4c1dd;
}

nav .links .contain li a,
nav .links .contain_feature li a,
nav .links .contain_portfolio li a,
nav .links .contain_blog li a {
    text-decoration: none;
    color: rgb(109, 109, 109);
    font-size: 10px;
    padding: 6px;
    display: inline-block;
}

nav .links li .contain,
nav .links li .contain_feature,
nav .links li .contain_portfolio,
nav .links li .contain_blog {
    position: absolute;
    width: 215px;
    display: none;
    margin-top: 21px;
    margin-left: -55px;
    line-height: 20px;
    /* make the first text move  */
    text-indent: 15px;
}

nav .links li .contain li,
nav .links li .contain_feature li,
nav .links li .contain_portfolio li,
nav .links li .contain_blog li {
    background: #f8f8f8;
    display: block;
}

nav .links li .contain li a,
nav .links li .contain_feature li a,
nav .links li .contain_portfolio li a,
nav .links li .contain_blog li a {
    display: block !important;
}

nav .links li .contain li:hover,
nav.links li .contain_feature li:hover,
nav.links li .contain_portfolio li:hover,
nav.links li .contain_blog li:hover {
    background: #eaeaeaf5;
}

nav .links i {
    /* margin-left: 9px; */
    display: flex;
    gap: 24px;
}

.second-header {
    margin-bottom: 2rem;
    margin-top: 8rem;

}

.second-header .title {
    font-size: xx-large;
    color: white;
    font-family: 'Font Awesome 5 Brands';
    letter-spacing: 3px;
    cursor: context-menu;
}

.second-header h1 {
    color: white;
    font-size: 153px;
    margin: 0;
    font-family: sans-serif;
    cursor: context-menu;
}

.second-header .discrip {
    color: white;
    font-size: x-small;
    cursor: context-menu;
    font-family: 'FontAwesome';
    letter-spacing: 2px;
    line-height: 36px;

}

.second-header button {
    width: 273px;
    height: 58px;
    background-color: #5656e9;
    color: white;
    border-radius: 7px;
    border-style: none;
    cursor: pointer;
    font-size: large;
    transition: all 1s linear;
    font-family: 'FontAwesome';
    letter-spacing: 3px;
}

.second-header button:hover {
    background-color: #4949d3;
}

/* 
.second-part {
    display: grid;
    grid-template-areas: ' solution pixel vector'
        ' fonts layer grid';
    grid-gap: 22px;
    padding: 4rem 0;
    justify-content: center;
} */

.second-part .flex {
    display: grid;
    grid-template-areas:
        ' solution pixel vector'
        ' fonts layer grid';
    grid-gap: 33px;
    padding: 4rem 0;
    /* justify-content: center; */
    justify-items: center;
}

.second-part .solution {
    grid-column: 1 / 2;
}

.second-part .solution p {
    font-size: xx-large;
    font-family: sans-serif;
    color: #5a5858;
}

.second-part .solution h2 {
    font-size: 43px;
    font-family: sans-serif;
    color: #3c3838;
    margin-top: -11px;
}

.second-part .solution span {
    font-size: 20px;
    font-family: sans-serif;
    color: #646464;
}

.second-part .pixel {
    background-color: #f2f3f8;
    width: 353px;
    height: 246px;
    border-radius: 10px;
    grid-column: 2 / 3;
    grid-row: 2 / -3;
}

.overlay,
.overlay2,
.overlay3,
.overlay4,
.overlay5 {
    color: #fff;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(255, 255, 255);
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: all .5s;
    box-sizing: border-box;
}

.second-part .pixel:hover .overlay {
    width: 100%;
}

.second-part .pixel .content,
.second-part .vector .contain2,
.second-part .fonts .contain3,
.second-part .layers .contain4,
.second-part .grid .contain5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 0 0 53px;
}

.second-part .pixel i {
    width: 50px;
    color: #4e4f50;
}

.second-part .pixel i:hover {
    color: #4949d3;
}

.second-part .pixel h5 .a1 {
    text-decoration: none;
    font-size: larger;
    cursor: pointer;
    font-family: sans-serif;
    color: #474545;
}

.second-part .pixel h5 .a1:hover {
    color: #4949d3;

}

.second-part .pixel p {
    font-family: sans-serif;
    text-align: center;
    font-size: small;
    color: #151414;
}

.second-part .pixel .a2 {
    text-align: center;
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    font-size: small;
}

.second-part .pixel .a2:hover {
    color: #4949d3;
}

.second-part .vector {
    background-color: #f2f3f8;
    width: 353px;
    height: 246px;
    border-radius: 10px;
    grid-column: 3 / 4;
    grid-row: -3 / -2;
}

.second-part .vector:hover .overlay2 {
    width: 100%;

}

.second-part .vector i {
    width: 50px;
    transform: rotateZ(20deg);
}

.second-part .vector i:hover {
    color: #4949d3;
}

.second-part .vector h5 .a1 {
    text-decoration: none;
    font-size: larger;
    cursor: pointer;
    font-family: sans-serif;
    color: #474545;
}

.second-part .vector h5 .a1:hover {
    color: #4949d3;

}

.second-part .vector p {
    font-family: sans-serif;
    text-align: center;
    font-size: small;
    color: #151414;
}

.second-part .vector .a2 {
    text-align: center;
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    font-size: small;
}

.second-part .vector .a2:hover {
    color: #4949d3;
}

.second-part .fonts,
.second-part .layers,
.second-part .grid {
    background-color: #f2f3f8;
    width: 353px;
    height: 246px;
    border-radius: 10px;
}

.second-part .fonts:hover .overlay3 {
    width: 100%;

}

.second-part .fonts i {
    width: 50px;
    transform: rotateZ(0deg);
    color: #9e9e9e;
}

.second-part .fonts i:hover {
    color: #4949d3;
}

.second-part .fonts h5 .a1 {
    text-decoration: none;
    font-size: larger;
    cursor: pointer;
    font-family: sans-serif;
    color: #474545;
}

.second-part .fonts h5 .a1:hover {
    color: #4949d3;

}

.second-part .fonts p {
    font-family: sans-serif;
    text-align: center;
    font-size: small;
    color: #151414;
}

.second-part .fonts .a2 {
    text-align: center;
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    font-size: small;
}

.second-part .fonts .a2:hover {
    color: #4949d3;
}

.second-part .layers:hover .overlay4 {
    width: 100%;

}

.second-part .layers i {
    width: 50px;
    transform: rotateZ(0deg);
    color: #c5c5c5;
}

.second-part .layers i:hover {
    color: #4949d3;
}

.second-part .layers h5 .a1 {
    text-decoration: none;
    font-size: larger;
    cursor: pointer;
    font-family: sans-serif;
    color: #474545;
}

.second-part .layers h5 .a1:hover {
    color: #4949d3;

}

.second-part .layers p {
    font-family: sans-serif;
    text-align: center;
    font-size: small;
    color: #151414;
}

.second-part .layers .a2 {
    text-align: center;
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    font-size: small;
}

.second-part .layers .a2:hover {
    color: #4949d3;
}

.second-part .grid:hover .overlay5 {
    width: 100%;

}

.second-part .grid i {
    width: 50px;
    transform: rotateZ(0deg);
    color: #cccccc;
}

.second-part .grid i:hover {
    color: #4949d3;
}

.second-part .grid h5 .a1 {
    text-decoration: none;
    font-size: larger;
    cursor: pointer;
    font-family: sans-serif;
    color: #474545;
}

.second-part .grid h5 .a1:hover {
    color: #4949d3;

}

.second-part .grid p {
    font-family: sans-serif;
    text-align: center;
    font-size: small;
    color: #151414;
}

.second-part .grid .a2 {
    text-align: center;
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    font-size: small;
}

.second-part .grid .a2:hover {
    color: #4949d3;
}

.third-part {
    background-image: url("https://html.waituk.com/roxine/img/big-15.jpg");
    width: 102%;
    background-size: cover;
    background-color: rgba(15, 15, 15, 0.664);
    background-blend-mode: darken;
    background-repeat: no-repeat;
    padding: 3rem 0;
}

.third-part p {
    color: #f2f3f8;
    font-size: xx-large;
    font-family: 'Josefin Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: lighter;

}

.third-part h3 {
    color: #f2f3f8;
    font-size: xxx-large;
    font-family: cursive;
}

.third-part button {
    width: 273px;
    height: 58px;
    background-color: #5656e9;
    color: white;
    border-radius: 7px;
    border-style: none;
    cursor: pointer;
    font-size: large;
    transition: all 1s linear;
}

.third-part button:hover {
    background-color: #4949d3;
}

.tracks {
    padding: 5rem 0;
}

.tracks h2 {
    color: #55565b;
    font-size: xxx-large;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
}

.tracks ul {
    display: grid;
    gap: 20px;
    grid-template-areas: 'all . ui . program . photo . ecom';
    font-size: small;
    display: flex;
    justify-content: center;
}

.tracks ul .all,
.tracks ul .ui,
.tracks ul .program,
.tracks ul .photo,
.tracks ul .ecom {
    cursor: pointer;
    transition: all 1s linear;
}

.tracks .all:hover,
.tracks ul .ui:hover,
.tracks ul .program:hover,
.tracks ul .photo:hover,
.tracks ul .ecom:hover {
    color: #4949d3;
}

.tracks ul span {
    margin-top: 16px;
}

.products-pictures {
    display: grid;
    gap: 20px;
    grid-template-areas: 'pillow bags powder '
        'towel creame pancake';
    padding: 1rem;
    /* margin-left: 3rem; */
}

.products-pictures img {
    width: 100%;

}

.products-pictures .pillow,
.products-pictures .bags,
.products-pictures .powder,
.products-pictures .towel,
.products-pictures .creame,
.products-pictures .pancake {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.products-pictures .pillow:hover img,
.products-pictures .bags:hover img,
.products-pictures .powder:hover img,
.products-pictures .towel:hover img,
.products-pictures .creame:hover img,
.products-pictures .pancake:hover img {
    opacity: 0.3;
    transition: all .8s ease-in-out;
}

.products-pictures .pillow:hover .middle,
.products-pictures .bags:hover .middle,
.products-pictures .powder:hover .middle,
.products-pictures .towel:hover .middle,
.products-pictures .creame:hover .middle,
.products-pictures .pancake:hover .middle {
    opacity: 1;
}

.products-pictures .pillow .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 534%;
    left: 16%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.products-pictures .bags .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 543%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.products-pictures .powder .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 543%;
    left: 83%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.products-pictures .towel .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 616%;
    left: 15%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.products-pictures .creame .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 616%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.products-pictures .pancake .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 616%;
    left: 83%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.products-pictures .pillow .middle-icons,
.products-pictures .bags .middle-icons,
.products-pictures .powder .middle-icons,
.products-pictures .towel .middle-icons,
.products-pictures .creame .middle-icons,
.products-pictures .pancake .middle-icons {
    background-color: #2804aa;
    color: white;
    padding: 16px 32px;
}

.brand h6 {
    font-size: 1.875rem;
    font-family: 'Josefin Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #5a5858;
    text-transform: uppercase;
    letter-spacing: .2143rem;
}

.brand h2 {
    color: #514e4e;
    font-size: xxx-large;
}

.brand p {
    color: #55565b;
    font-size: x-large;
}

.big-lorem {
    display: flex;
}

.lorem {
    display: flex;
    justify-content: space-evenly;
    padding: 1rem 1rem 0 15rem;
}

.lorem .lorem-left p {
    color: #55565b;
    line-height: 26px;
}

.lorem .lorem-left button {
    width: 241px;
    height: 51px;
    color: #fff;
    background-color: #151414;
    border: .1429rem solid #000;
    border-radius: 4px;
    font-size: large;
    font-family: sans-serif;
    letter-spacing: 2px;
    margin-top: 42px;
    cursor: pointer;
}

.lorem .lorem-left button:hover {
    color: #151414;
    background-color: #fff;
}

.lorem .lorem-right p {
    color: #55565b;
    line-height: 26px;
}

.lorem .lorem-right .links {
    display: grid;
    grid-template-areas: 'track1 . . . . tracka2';
    gap: 61px;
}

.lorem .lorem-right .links ul {
    display: grid;
    gap: 15px;
    font-size: smaller;
    font-family: sans-serif;
    margin-left: -38px;
    line-height: 16px;
}

.lorem .lorem-right .links ul a {
    text-decoration: none;
    color: #5656e9;
    cursor: pointer;
}

.culture {
    background-image: url(https://html.waituk.com/roxine/img/big-01.jpg);
    width: 102%;
    height: 983px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 55px;
    background-blend-mode: darken;
    background-color: #c2c2c2;
}

.contain-culture {
    padding: 3rem 0;
}

.culture .work-place {
    font-size: x-large;
    font-family: sans-serif;
    color: #55565b;
    letter-spacing: 2px;
}

.culture .contain-culture h3 {
    color: #4a4a4a;
    font-size: xxx-large;
    font-family: sans-serif;
    letter-spacing: 1px;
}

.culture .contain-culture span {
    color: #525252;
    font-size: larger;
    font-family: sans-serif;
}

.culture .contain-culture img {
    width: 70px;
    margin-left: 87px;
}

.culture .contain-culture .parag p {
    color: #4a4a4a;
    font-size: larger;
    font-family: sans-serif;
    line-height: 32px;
    text-align: center;
}

.team {
    margin-left: 14%;
    margin-top: 105px;
}

.team p {
    font-size: x-large;
    font-family: sans-serif;
    color: #55565b;
    letter-spacing: 2px;
}

.team h3 {
    color: #4a4a4a;
    font-size: xxx-large;
    font-family: sans-serif;
    letter-spacing: 1px;
    margin-left: -3px;
    margin-top: -15px;
}

.team span {
    color: #525252;
    font-size: larger;
    font-family: sans-serif;
    margin-left: -3px;
    margin-top: -20px;
    position: absolute;
}

.img-team {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 4rem 0;
}

.big-team .img-team .team-member1,
.big-team .img-team .team-member2,
.big-team .img-team .team-member3 {
    width: 23%;
    display: inline-block;
    background-color: #e2e0dc;
    border-radius: 12px;
    border-top: 10px;
    border-top-color: #99109d9e;
    border-top-style: solid;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.big-team .img-team .team-member1 img,
.big-team .img-team .team-member2 img,
.big-team .img-team .team-member3 img {
    width: 90px;
    border-radius: 7px;
    margin-top: 20px;
}

.big-team .img-team .team-member1 img:hover {
    transform: scale(0.8);
    transition: 3s ease;
}

.big-team .img-team .team-member1 p,
.big-team .img-team .team-member2 p,
.big-team .img-team .team-member3 p {
    color: #000;
    padding: 1rem 0;
    margin: 0;
}

.big-team .img-team .team-member1 span,
.big-team .img-team .team-member2 span,
.big-team .img-team .team-member3 span {
    color: rgb(145, 143, 143);
    font-size: larger;
    font-family: sans-serif;
}

.big-team .img-team .team-member1 .icons,
.big-team .img-team .team-member2 .icons,
.big-team .img-team .team-member3 .icons {
    display: flex;
    gap: 2rem;
    padding: 3rem 0;
}

.big-team .img-team .team-member1 .icons i,
.big-team .img-team .team-member2 .icons i,
.big-team .img-team .team-member3 .icons i {
    cursor: pointer;
}

.big-team .img-team .team-member1 .buttom,
.big-team .img-team .team-member2 .buttom,
.big-team .img-team .team-member3 .buttom {
    background-color: #ededed;
    width: 100%;
    height: 132px;
    border-radius: 0 0 12px 12px;
}

.big-team .img-team .team-member1 .buttom .s-buttom,
.big-team .img-team .team-member2 .buttom .s-buttom,
.big-team .img-team .team-member3 .buttom .s-buttom {
    display: flex;
    justify-content: center;
    padding: 2rem 0;
}

.big-team .img-team .team-member1 .buttom button,
.big-team .img-team .team-member2 .buttom button,
.big-team .img-team .team-member3 .buttom button {
    width: 109px;
    height: 61px;
    border-radius: 9px;
    color: #ffffff;
    background-color: #000000;
    font-size: larger;
    font-family: sans-serif;
    border: hidden;
    cursor: pointer;
}

.big-team .img-team .team-member1 button:hover,
.big-team .img-team .team-member2 button:hover,
.big-team .img-team .team-member3 button:hover {
    background-color: #042e7d;
    border: hidden;
    transition: all .5s linear;
}

.big-team .img-team .team-member2 img:hover {
    transform: scale(0.8);
    transition: 3s ease;
}

.big-team .img-team .team-member3 img:hover {
    transform: scale(0.8);
    transition: 3s ease;
}


.img-team .team3 {
    width: 24%;
    display: inline-block;
    margin-top: 12px;
    margin-left: 1000px;
    position: absolute;
}

.img-team .left i {
    width: 45px;
    margin-top: 18%;
    margin-left: 154px;
    cursor: pointer;
    color: #c2c2c2;
}

.img-team .left i:hover {
    color: #000;
}

.img-team .right i {
    width: 45px;
    margin-top: 18%;
    margin-left: 1167px;
    cursor: pointer;
    color: #c2c2c2;
}

.img-team .right i:hover {
    color: #000;
}

.percent {
    background-image: url("https://html.waituk.com/roxine/img/visual-small-11.jpg");
    width: 100%;
    height: 358px;
    background-size: cover;
    background-color: rgba(15, 15, 15, 0.664);
    background-blend-mode: darken;
    background-repeat: no-repeat;
    position: relative;
    margin-top: 137px;
}

.percent .projects {
    display: grid;
    gap: 1px;
}

.percent .projects:hover {
    background-color: #4949d3;
    width: 322px;
    height: 358px;
    position: absolute;
}

.percent .projects i {
    position: absolute;
    margin-top: 140px;
    margin-left: 160px;
}

.percent .projects h3 {
    font-family: 'waituk-icomoon';
    font-style: normal;
    font-weight: bold;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    color: #a0a0a0;
    position: absolute;
    margin-top: 185px;
    margin-left: 159px;
    font-size: large;
}

.percent .projects p {
    color: #ececef;
    position: absolute;
    margin-top: 218px;
    margin-left: 101px;
    font-family: sans-serif;
    font-size: large;
}

.percent .clients {
    width: 322px;
    height: 89px;
    display: grid;
    gap: 1px;
    position: absolute;
    margin-left: 332px;
}

.percent .clients:hover {
    background-color: #4949d3;
    width: 322px;
    height: 357px;
}

.percent .clients i {
    position: absolute;
    margin-top: 140px;
    margin-left: 153px;
    width: 45px;
}

.percent .clients h3 {
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    color: #a0a0a0;
    position: absolute;
    margin-top: 175px;
    margin-left: 154px;
    font-size: large;
}

.percent .clients p {
    color: #ececef;
    position: absolute;
    margin-top: 218px;
    margin-left: 77px;
    font-family: sans-serif;
    font-size: large;
}

.ceo {
    background-color: #efeeee;
    width: 100%;
    margin-top: 20px;
    padding: 4rem;
    /* height: 318px; */
}

.ceo .hear {
    display: grid;
    justify-content: center;
    padding: 3rem 0;
    padding-right: 10rem;
}

.ceo .hear p {
    color: #a0a0a0;
    font-family: sans-serif;
    margin-top: 61px;
    margin-left: 43%;
}

.ceo .hear h3 {
    color: #494949;
    font-family: sans-serif;
    margin-top: 3px;
    margin-left: 34%;
}

.ceo .hear span {
    color: #a0a0a0;
    font-family: sans-serif;
    font-size: larger;
    margin-top: 6px;
    margin-left: 54px;
}

.ceo .people {
    display: grid;
    grid-template-areas: 'contain1 contain2'
        'contain3 contain4';
    row-gap: 3rem;
    padding-left: 5rem;
}

.ceo .contains1,
.ceo .contains3 {
    background-color: #e2dede;
    width: 80%;
    border-radius: 7px;
    padding: 2rem;
    height: 169px;
}

.ceo .contains1 .f-contain .card,
.ceo .contains2 .s-contain .card,
.ceo .contains3 .t-contain .card,
.ceo .contains4 .h-contain .card {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

.ceo .contains1 .f-contain .card img,
.ceo .contains2 .s-contain .card img,
.ceo .contains3 .t-contain .card img,
.ceo .contains4 .h-contain .card img {
    width: 66px;
    border-radius: 35px;
}

.ceo .contains1 .f-contain .card h3,
.ceo .contains2 .s-contain .card h3,
.ceo .contains3 .t-contain .card h3,
.ceo .contains4 .h-contain .card h3 {
    font-family: sans-serif;
    font-size: small;
}

.ceo .contains1 .f-contain .card span,
.ceo .contains2 .s-contain .card span,
.ceo .contains3 .t-contain .card span,
.ceo .contains4 .h-contain .card span {
    color: #8f8f8f;
    font-size: smaller;
    margin-top: 36px;
    margin-left: -85px;
}

.ceo .contains2,
.ceo .contains4 {
    background-color: #e2dede;
    width: 63%;
    border-radius: 7px;
    padding: 2rem;
    height: 169px;
}

.footer {
    background-color: #0d0125c8;
    width: 102%;
    margin-top: 60px;
    /* height: 317px; */
}

.footer .all-roxina {
    display: grid;
    grid-template-areas: 'roxina-left roxina-center roxina0right';
}

.footer .roxina-left .logo {
    padding: 5rem 0 0;
    width: 160px;
}

.footer .roxina-left .roxina-left-under {
    display: grid;
    gap: 1rem;
    padding: 2rem 0;
}

.footer .roxina-left .roxina-left-under span {
    padding: 1rem 12px;
    color: #efeded;
}

.footer .roxina-center {
    display: flex;
    justify-content: space-evenly;
    /* margin-top: 140px; */
    margin: 147px 0 0 -296px;
}

.footer .roxina-center ul {
    color: #efeded;
    line-height: 31px;
}

.footer .roxina-right {
    display: flex;
    align-items: center;
}

.footer .roxina-right ul {
    display: flex;
    gap: 15px;
    padding: 9rem 0;
}

.footer .roxina-right ul li i {
    color: #fbfbfb;
    border: 2px solid #f8f8f8;
    border-radius: 24px;
    padding: 7px;
    font-size: small;
}

/* Tablet Screen */

@media all and (max-width: 992px) {

    body {
        margin: auto;
        overflow-x: hidden;
        box-sizing: border-box;
        margin: 0 auto;
    }

    header,
    .footer,
    .culture,
    .third-part,
    .big-team {
        width: 119.8%;
    }

    nav.mobile-nav {
        padding: 28.1rem 0;
        position: fixed;
        top: 0px;
        right: 71px;
        bottom: 129rem;
        width: 171px;
        z-index: 5;
        background-color: #656565;
    }

    .second-part .flex {
        flex-direction: column;
        display: flex;
    }

    .second-part .solution p,
    .second-part .solution h2 {
        font-size: 3rem;
    }

    .second-part .solution span {
        font-size: x-large;
    }

    .second-part .flex .pixel,
    .second-part .flex .vector,
    .second-part .flex .fonts,
    .second-part .flex .layers,
    .second-part .flex .grid,
    .second-part .flex .solution {
        width: 95%;
        margin-bottom: 15px;
        text-align: center;
        /* height: 35rem; */
        margin: 0 5rem;
    }

    .second-part .pixel .content,
    .second-part .vector .contain2,
    .second-part .fonts .contain3,
    .second-part .layers .contain4,
    .second-part .grid .contain5 {
        width: 40rem;
        font-size: large;
    }

    .second-part .pixel h5,
    .second-part .vector h5,
    .second-part .fonts h5,
    .second-part .layers h5,
    .second-part .grid h5 {
        padding-top: 21px;
    }

    .second-part .pixel p,
    .second-part .vector p,
    .second-part .fonts p,
    .second-part .layers p,
    .second-part .grid p {
        font-size: smaller;
    }

    .second-part .pixel .a2,
    .second-part .vector .a2,
    .second-part .fonts .a2,
    .second-part .layers .a2,
    .second-part .grid .a2 {
        font-size: smaller;
    }

    .content,
    .contain2,
    .contain3,
    .contain4,
    .contain5 {
        text-align: center;
        position: relative;
    }

    .products-pictures {
        padding: 0 43px;
        display: flex;
        flex-direction: column;
        width: 107%;
    }

    .products-pictures .pillow .middle {
        left: 57%;
        top: 232rem;
    }

    .products-pictures .bags .middle {
        left: 57%;
        top: 266rem;
    }

    .products-pictures .powder .middle {
        left: 57%;
        top: 299rem;
    }

    .products-pictures .towel .middle {
        left: 57%;
        top: 331rem;
    }

    .products-pictures .creame .middle {
        left: 57%;
        top: 366rem;
    }

    .products-pictures .pancake .middle {
        left: 57%;
        top: 397rem;
    }

    .tracks {
        display: flex;
        flex-direction: column;
        padding: 3rem 0;
        justify-content: center;
        text-align: center;
        width: 52rem;
    }

    .lorem {
        padding: 1rem 38px;
    }

    .ceo {
        width: 108%;
    }

    .ceo .hear {
        width: 90%;
    }

    .ceo .contains1,
    .ceo .contains3,
    .ceo .contains2,
    .ceo .contains4 {
        height: 74%;
    }

    .ceo .people {
        padding: 20px 0;
        width: 100%;
    }

    .contains1,
    .contains3 {
        max-width: 63%;
    }

    .footer {
        margin: auto;
    }

    .footer .all-roxina {
        display: flex;
        font-size: xxx-large;
    }

    .footer .all-roxina .roxina-left .logo {
        width: 88%;
    }

    .footer .roxina-left .roxina-left-under {
        padding: 5rem 0;
    }

    .footer .all-roxina .roxina-center {
        margin: 28rem -2rem;
        position: absolute;
    }

    .footer .all-roxina .roxina-center ul {
        line-height: 63px;
    }

    .footer .all-roxina .roxina-right ul {
        padding: 26rem 0;
        margin: 371px -449px;
        margin-bottom: 0;
        padding-bottom: 0;
    }
}

/*  mobile screen */
@media all and (max-width: 500px) {

    body {
        margin: auto;
        overflow-x: hidden;
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        box-sizing: border-box;
    }

    header,
    .footer,
    .culture,
    .third-part {
        width: 100%;
        box-sizing: border-box;
        padding: 1px 44rem;
    }

    .container {
        padding: 0 7rem;
    }

    nav.mobile-nav {
        padding: 1rem;
        position: fixed;
        top: 2px;
        right: 7rem;
        bottom: 80.8rem;
        width: 171px;
        z-index: 5;
        background-color: #656565;
    }

    nav.sticky {
        position: sticky;
        top: 0;
        left: 0px;
        animation: fadeIn .5s linear;
        background-color: #656565;
        z-index: 1000;
        position: fixed;
        /* margin: 0px; */
        margin-top: 0;
        transition: all 1s linear;
        width: 94%;
    }

    .second-header {
        padding: 1rem 0;
    }

    .second-header .title {
        margin: 21rem -34rem;
    }

    .second-header h1 {
        margin: -15rem -36rem;
    }

    .second-header .discrip {
        margin: 17rem -34rem;
        font-size: large;
        letter-spacing: 4px;
    }

    .second-header button {
        margin: 0 -33rem;
    }

    .second-part .flex {
        flex-direction: column;
        display: flex;
    }

    .second-part .solution p,
    .second-part .solution h2 {
        font-size: 5rem;
    }

    .second-part .solution span {
        font-size: x-large;
    }

    .second-part .flex .pixel,
    .second-part .flex .vector,
    .second-part .flex .fonts,
    .second-part .flex .layers,
    .second-part .flex .grid,
    .second-part .flex .solution {
        width: 100%;
        margin-bottom: 15px;
        text-align: center;
        height: 35rem;
        margin: 0 4rem;
        padding: 1rem 19rem;
    }

    .second-part .pixel .content,
    .second-part .vector .contain2,
    .second-part .fonts .contain3,
    .second-part .layers .contain4,
    .second-part .grid .contain5 {
        width: 71rem;
        font-size: xxx-large;
        padding-top: 92px;
        margin: 0 -26rem;
    }

    .second-part .pixel h5,
    .second-part .vector h5,
    .second-part .fonts h5,
    .second-part .layers h5,
    .second-part .grid h5 {
        padding-top: 21px;
    }

    .second-part .pixel p,
    .second-part .vector p,
    .second-part .fonts p,
    .second-part .layers p,
    .second-part .grid p {
        font-size: smaller;
    }

    .second-part .pixel .a2,
    .second-part .vector .a2,
    .second-part .fonts .a2,
    .second-part .layers .a2,
    .second-part .grid .a2 {
        font-size: smaller;
    }

    .second-part .solution .divider img {
        width: 42%;
        padding: 2rem 0;
    }

    .third-part p {
        margin: 5rem -40rem;
    }

    .third-part h3 {
        margin: 6rem -40rem;
    }

    .third-part button {
        margin: 2rem -41rem;
    }

    .tracks {
        display: flex;
        flex-direction: column;
        padding: 3rem 0;
        justify-content: center;
        text-align: center;
        width: 72rem;
    }

    .team {
        padding: 0 15rem;
    }

    .team p {
        font-size: xxx-large;
        margin: 47px -1rem;
        width: 26rem;
    }

    .team h3 {
        font-size: xx-large;
        width: 33rem;
        margin: 3rem -7rem;
        text-align: center;
    }

    .team img {
        width: 8rem;
        margin: 0 4rem;
    }

    .team span {
        font-size: xx-large;
        width: 21rem;
        text-align: center;
        margin: 4rem -2rem;
    }

    .img-team {
        flex-direction: column;
        align-items: baseline;
        width: 269rem;
        gap: 4rem;
        padding-top: 11rem;
        padding: 18rem 5rem;
        box-sizing: border-box;
    }

    .big-team .img-team .team-member1 img,
    .big-team .img-team .team-member2 img,
    .big-team .img-team .team-member3 img {
        width: 31%;
    }

    .big-team .img-team .team-member1 p,
    .big-team .img-team .team-member2 p,
    .big-team .img-team .team-member3 p {
        font-size: 4rem;
    }

    .big-team .img-team .team-member1 span,
    .big-team .img-team .team-member2 span,
    .big-team .img-team .team-member3 span {
        font-size: x-large;
    }

    .big-team .img-team .team-member1 .buttom,
    .big-team .img-team .team-member2 .buttom,
    .big-team .img-team .team-member3 .buttom {
        height: 13rem;

    }

    .big-team .img-team .team-member1 .buttom button,
    .big-team .img-team .team-member2 .buttom button,
    .big-team .img-team .team-member3 .buttom button {
        width: 25%;
        height: 8rem;
        font-size: xxx-large;
    }

    .ceo{
        width: 71rem;
        box-sizing: border-box;
        height: 150rem;
    }

    .brand h6 {
        font-size: 81px;
        width: 182%;
    }

    .brand h2 {
        font-size: 111px;
        width: 67rem;
    }

    .brand p {
        font-size: 4rem;
        width: 57rem;
    }

    .brand img {
        width: 73%;
    }

    .lorem {
        display: flex;
        flex-direction: column;
        padding: 0 8rem;
    }

    .lorem .lorem-left p {
        width: 461%;
        font-size: xx-large;
        line-height: 3rem;
    }

    .lorem .lorem-left button {
        width: 20rem;
        height: 7rem;
        font-size: xx-large;
    }

    .lorem .lorem-right p {
        width: 461%;
        font-size: xxx-large;
        line-height: 4rem;
        padding: 4rem 0rem;
    }

    .lorem .lorem-right .links {
        width: 100rem;
    }

    .lorem .lorem-right .links ul li {
        width: 98%;
        font-size: xx-large;
        line-height: 4rem;
    }

    .contain-culture {
        margin: -3rem -39rem;
    }

    .culture .contain-culture .parag p {
        margin: 2rem;
        width: 58rem;
    }

    .products-pictures {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        text-align: center;
        width: 72rem;
        margin: 3rem -1rem;
        box-sizing: border-box;
    }

    .products-pictures .pillow .middle {
        left: 30rem;
        top: 398rem;
        font-size: xxx-large;
    }

    .products-pictures .bags .middle {
        left: 30rem;
        top: 444rem;
        font-size: xxx-large;
    }

    .products-pictures .powder .middle {
        left: 30rem;
        top: 446rem;
        font-size: xxx-large;
    }

    .products-pictures .towel .middle {
        left: 30rem;
        top: 540rem;
        font-size: xxx-large;
    }

    .products-pictures .creame .middle {
        left: 30rem;
        top: 589rem;
        font-size: xxx-large;
    }

    .products-pictures .pancake .middle {
        left: 30rem;
        top: 634rem;
        font-size: xxx-large;
    }

    .products-pictures .pillow .middle-icons,
    .products-pictures .bags .middle-icons,
    .products-pictures .powder .middle-icons,
    .products-pictures .towel .middle-icons,
    .products-pictures .creame .middle-icons,
    .products-pictures .pancake .middle-icons {
        background-color: #2804aa;
        color: white;
        padding: 35px 32px;
        width: 152%;
    }

    .ceo .people {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 2rem;
        width: 121%;
    }

    .ceo .hear {
        font-size: 3rem;
    }

    .ceo .contains1,
    .ceo .contains3 {
        height: 30%;
    }

    .ceo .contains2,
    .ceo .contains4 {
        width: 63%;
        height: 30%;
    }

    .ceo .contains1 .f-contain,
    .ceo .contains2 .s-contain,
    .ceo .contains3 .t-contain,
    .ceo .contains4 .h-contain {
        font-size: xx-large;

    }

    .footer {
        margin: auto;
        padding: 33rem 36rem;
        width: 100%;
    }

    .footer .all-roxina {
        display: flex;
        font-size: xxx-large;
        margin: 1rem -33rem;
    }

    .footer .all-roxina .roxina-left .logo {
        width: 88%;
    }

    .footer .roxina-left .roxina-left-under {
        padding: 5rem 0;
    }

    .footer .all-roxina .roxina-center {
        margin: 28rem -2rem;
        position: absolute;
    }

    .footer .all-roxina .roxina-center ul {
        line-height: 63px;
    }

    .footer .all-roxina .roxina-right ul {
        padding: 26rem 0;
        margin: 371px -449px;
        padding-bottom: 0;
    }
}

@media (max-width:1200px) {


    nav.desktop-nav .links {
        display: none;
    }

    nav.desktop-nav .menubar-icon {
        display: inline-flex;
        cursor: pointer;
        font-size: 1.5rem;
        padding: 0 69px;
        color: #ffff;
    }

    .mobile-nav {
        padding: 1rem;
        position: fixed;
        top: 8px;
        right: 0;
        bottom: 0;
        width: 171px;
        z-index: 5;
        background-color: #656565;

    }

    nav.mobile-nav .logo a {
        margin: -14rem 2rem;
        position: absolute;
    }

    nav.mobile-nav .nav .links {
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
    }

    nav.mobile-nav .close-menu {
        position: absolute;
        right: 3rem;
        top: 3rem;
        font-size: 1.5rem;
        transition: all 0.5s linear;
        cursor: pointer;
        color: #ffff;
    }

    nav.mobile-nav .close-menu:hover {
        color: #080808;
    }

}

@media (min-width:1400px) {
    nav.mobile-nav {
        display: none;
    }
}
